body{
    margin-top: 3%;
    margin-right: 25%;
    margin-left: 22%;
    background-color: #0C0F14;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav{
    background-color: #04080B;
}

.up{
    display: flex;
}

h2{
    padding-right: 45%;
    font-weight: lighter;
    font-size: 25px;
}

.options{
    display: inline-block;
    justify-content: end;
    margin-top: 25px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
}

p{
    text-decoration-line: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


p:hover{
    transition: 0.3s;
    background-color: #CAE301;
    padding: 10px;
    color: #04080B;
    cursor: pointer;
}


h1{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    font-size: 55px;
    font-weight: bold;
}

.essencial{
    padding-bottom: 10px;
    border-bottom: 1px solid #CAE301;
    padding-right: 75px;
    font-weight: bold;
}
.premium{
    padding-bottom: 10px;
    border-bottom: 1px solid #CAE301;
    padding-right: 90px;
    font-weight: bold;
}
.gold{
    padding-bottom: 10px;
    border-bottom: 1px solid #CAE301;
    padding-right: 90px;
    font-weight: bold;
}


.card1{
    border: 1px solid black;
    margin-right: 1.34%;
    padding-right: 3.5%;
    background-color: #1F262C;
    border-radius: 7px;
}
.card2{
    border: 1px solid black;
    padding-right: 4.2%;
    background-color: #1F262C;
    border-radius: 7px;
}
.card3{
    border: 1px solid black;
    margin-left: 1.34%;
    padding-right: 4.8%;
    background-color: #1F262C;
    border-radius: 7px;
}


.dot{
    padding-top: 10%;
    padding-right: 20px;
    color:#a3a2a1;
    text-decoration-color: #CAE301;

}

.dot::marker{
    color:#CAE301
}

a{
    color: black;
    text-decoration-line: none;
    font-weight: bold;
    padding: 8px;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #CAE301;
    border-radius: 5px;
}


.subscribe_um{
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 115px;
    font-size: 14px;
    font-weight: bold;
}

.subscribe_dois{
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 77px;
    font-size: 14px;
    font-weight: bold;
} 
.subscribe_tres{
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 38.1px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
}



.cards{
    display: flex;
    justify-content: center;
}