body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #00fff0 5% #669445 10%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #CAE301;
    background-color: #04080B;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    width: 30%;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    background-color: #1F262C;
    border: none;
    box-shadow: 5px 5px 10px black;
}

input{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px;
    background-color: #04080B;
    border: none;
}

.input:focus{
    outline: 1px solid #cbe300;
}

label{
    padding-bottom: 5px;
}

.btn{
    display: flex;
    justify-content: space-between;
}

.btn [type="submit"]{
    background-color: #cbe300;
    color: black;
    padding: 10px 60px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn [type="submit"]:hover{
    transition: 0.3;
    background-color: #e6ff02;
}

li{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 50px;
}

a{
    background-color: rgb(204, 2, 2);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 13px;
    padding: 10px
}

a:hover{
    transition: 0.3s;
    background-color: red;
}

label{
    font-size: 12px;
}

h2{
    display: flex;
    justify-content: center;
}